[submodule "snippets"]
	path = snippets
	url = https://github.com/jcs-emacs/snippets
	branch = master
[submodule "templates"]
	path = templates
	url = https://github.com/jcs-emacs/templates
	branch = master
[submodule "dict"]
	path = dict
	url = https://github.com/jcs-emacs/dict
	branch = master
