[submodule "snippets"]
	path = snippets
	url = https://github.com/jcs-emacs/snippets
[submodule "templates"]
	path = templates
	url = https://github.com/jcs-emacs/templates
[submodule "dict"]
	path = dict
	url = https://github.com/jcs-emacs/dict
