# settings
/site-lisp/custom.el
README.html

*.bak
*.data
*.db
*.elc
*.log
*.sqlite
*.tmp
*bak/
.cache/
.cask/
.dap-*
.extension/
.vscode/
/.agignore
/.elfeed
/.emacs*.desktop
/.emacs*.desktop.lock
/.emacs-buffers
/.last-package-update-day
/.lsp-session*
/.markdown-preview.html
/.mc-lists.el
/.org-id-locations
/.pdf-view-restore
/.persistent-scratch
/.rgignore
/abbrev_defs
/ac-comphist.dat
/amx-items
/bookmarks
/company-statistics-cache.el
/custom-post.el
/eshell
/history
/nov-places
/package-quickstart.el
/persist-text-scale
/places
/projectile-bookmarks.eld
/projectile.cache
/projects
/recentf
/savefold
/scratch
/smex-items
/tramp
anaconda-mode/
auto-save-list/
cnfonts/
devdocs-browser/
devdocs/
eclipse.jdt.ls/
eln-cache/
elpa-devel/
elpa/
emms/
emojis/
emp/
flycheck_*.el*
games/
ido.*
image-dired/
images/
irony/
librime/
magithub/
mspyls/
org-persist/
newsticker/
persistent-scratch/
persp-confs/
rcirc-log/
request/
rime/
rust-playground/
savefold/
server/
session*
thumbs/
tldr/
tmp*
transient/
tutorial/
url/
var/
workspace/

# tags
/GPATH
/GRTAGS
/GTAGS
/TAGS

# eask packages
.eask/
dist/

# packaging
*-autoloads.el
*-pkg.el

# OS generated
.DS_Store
