#  ========================================================================
#  $File: .gitattributes $
#  $Date: 2017-02-12 08:46:33 $
#  $Revision: $
#  $Creator: Jen-Chieh Shen $
#  $Notice: See LICENSE.txt for modification and distribution information
#                    Copyright (c) 2017 by Shen, Jen-Chieh $
#  ========================================================================


# Set default behavior to automatically normalize line endings.
* text=auto
