name: Startup

on:
  push:
    branches:
      - master
    paths:
      - '**.yml'
      - '**.el'
      - lisp/**
      - modules/**
      - site-lisp/**
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REPO_BIN: 'jcs-emacs/binaries'
  HASH: 5677ce049377adb6147ac8e3b5e04ad8b7da13fb

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs-version:
          - 30.2
        experimental: [false]
        include:
        - os: ubuntu-latest
          emacs-version: snapshot
          experimental: true
        - os: macos-latest
          emacs-version: snapshot
          experimental: true
        - os: windows-latest
          emacs-version: snapshot
          experimental: true

    steps:
    - uses: jcs090218/setup-emacs@master
      with:
        version: ${{ matrix.emacs-version }}

    - uses: actions/checkout@v6

    - name: Copy configuration files
      run: |
        chmod -R 777 ./
        make copy_config

    - name: Test startup
      run: make startup

    - name: Checkout binaries repository
      uses: actions/checkout@v6
      with:
        repository: ${{ env.REPO_BIN }}
        persist-credentials: false
        fetch-depth: 0

    - name: Create LFS file list
      run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

    - name: Restore LFS cache
      uses: actions/cache@v4
      id: lfs-cache
      with:
        path: .git/lfs
        key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}

    - name: Git LFS Pull
      continue-on-error: true
      run: |
        git lfs pull
        git add .
        git reset --hard

    - name: Remove before creating tar file
      uses: JesseTG/rm@v1.0.3
      with:
        path: main.tar

    - name: Zipping .emacs.d
      run: tar -C $HOME -cvf ~/main.tar .emacs.d

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git config receive.denynonfastforwards false

    - name: Commit zipped .emacs.d
      continue-on-error: true
      run: |
        git pull
        git reset --hard ${{ env.HASH }}
        mv ~/main.tar ./
        git add .
        git commit -m "Update .emacs.d - main.tar"

    - name: Push
      uses: jcs-actions/github-push-action@master
      with:
        repository: ${{ env.REPO_BIN }}
        github_token: ${{ secrets.PAT }}
        branch: master
        rebase: false
        force: true
        retry: 7
